body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #010101;

	/*border: 2px solid blue;*/


}

/*particles start */

.h1{
	font-size: 45px;
	text-transform: uppercase !important;
	color: blue;
	font-weight: 700;

}

#ban{
	width: 100%;
	height: 300px;
	background-color: #b61924;
	background:url(../images/grap2.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
/*particles end */

/*isotop start */

.g-isotop{
	margin-top: 20px;
}

.protfolio-menu{
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.protfolio-menu li{
	padding: 10px 30px;
	border: 1px solid #eaeaea;
	cursor: pointer;

}

.protfolio-menu li.active{
	background-color: #225562;
	color: #ffffff;
	border: 0;
}
.protfolio-item {
}
.single-portfolio{
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

.single-portfolio img{
	height: 220px;
	width: 100%;

	vertical-align: middle;
}

.protfolio-overlay{
	position: absolute;
	left: 0;
	top: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition: .3s;
	visibility: hidden;
	opacity:0;
}

.protfolio-overlay::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	opacity: .75;
	z-index: -1;
}
.protfolio-overlay h4{
	text-transform: capitalize;
	font-size: 26px;
}
.protfolio-overlay p{
	font-style: italic;
}
.single-portfolio:hover .protfolio-overlay{
	top: 0;
	visibility: visible;
	opacity:1;
}

/*isotop end */

